body {
    font-size: 16px;
    font-family: "Lato-Regular", sans-serif;
    color: #1A212F;
    background-color: #FFFDFB;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.knopka {
    display: block;
    position: relative;

    box-shadow: 0 5px 25px 0 rgba(26, 33, 47, 0.1);
    background-color: white;
    border-radius: 25px;

    height: 50px;
    width: 206px;
    padding: 15px 63px 20px 30px;

    transition: all 0.3s;
    font-size: 16px;
    font-family: 'Lato-SemiBold', sans-serif;

}

.knopka:hover {
    transform: scale(1.1);
}

.oboi_knopka::after {
    content: "";
    position: absolute;

    width: 36px;
    height: 36px;

    /* центрирует по вертикали кнопку  */
    top: 50%;
    transform: translateY(-50%);

    right: 7px;
    background: url("../images/lapa_button.svg") no-repeat center;
}


.filter-knopka {
    background-color: #FF7236;
    color: rgb(255, 255, 255);
    font-size: 14px;
    width: 100%;
    text-align: center;
}

.filter-knopka::after {
    content: "";
    position: absolute;

    width: 36px;
    height: 36px;

    /* центрирует по вертикали кнопку  */
    top: 50%;
    transform: translateY(-50%);

    right: 7px;
    background: url("../images/lapa_button2.svg") no-repeat center;
}


.heading {
    font-family: "Rubik-Bold", sans-serif;
    font-size: 36px;
    text-align: center;
    margin-bottom: 70px;
}


/* HEADER=============================================================================================================================== */

.headet_top-inner {
    display: flex;
    justify-content: space-between;
    height: 76px;
    font-family: "Lato-SemiBold", sans-serif;

}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    overflow: hidden;
}

.header_nav {
    display: flex;
    align-items: center;

}

.nav {
    display: flex;

}

.nav_list {
    margin-right: 30px;
}

/* map=============================================================================================================================== */

.map {
    background-color: #FAC663;
    display: flex;
}

.map-inner {
    display: flex;
    justify-self: start;
}

.map_text {
    display: flex;
    flex-direction: column;
    width: 470px;
    margin-left: 100px;
}

.heading_map {
    margin-top: 70px;
    margin-bottom: 50px;
}

.map_text_heading-mini {
    margin-top: 35px;
    margin-bottom: 15px;
    font-family: "Lato-Bold", sans-serif;
}

.map_text_heading-mini:first-child {
    margin-top: 0px;
}

.map_text_ul {
    display: flex;
}

.map_text_ul_li {
    margin-right: 20px;
    transition: 1s;
}

.map_text_ul_li:hover {
    transform: scale(1.5) rotateZ(360deg);
}

.map_script {
    display: flex;
    justify-content: end;
}


/* footer=============================================================================================================================== */

.container-footer {
    padding: 0px 100px;
}


.linia {
    border: 1px solid #efefef;
}

.footer_bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    font-size: 12px;
    color: #8f8f8f;
}

.footer_bottom-p img {
    margin-right: 5px;
}


/* nomera=============================================================================================================================== */

.nomera {
    margin-bottom: 140px;
}

.nomera-inner {
    position: relative;
    display: flex;
    flex-direction: column;
}

.nomera-inner::before {
    content: "";
    position: absolute;

    width: 484px;
    height: 151px;

    left: -160px;
    top: 31px;

    opacity: 20%;
    background: url("../images/background/riba.svg") no-repeat center;

    z-index: -1;
}


/* сам слайдер */
.nomera_slider {
    position: relative;
    margin-bottom: 43px;

}

.nomera_slider-slide {
    display: flex;
    align-items: center;
}

.slide_image {
    border-radius: 10px;
    width: 600px;
    height: 404px;
}

.slide-content {
    display: flex;
    flex-direction: column;

    padding: 40px 100px;
    background-color: #fff;
    box-shadow: 0 0 25px 0 rgba(208, 208, 208, 0.25);
    border-radius: 8px;

    margin-left: -70px;
    margin-right: 140px;
    width: 500px;

}

.slide-content-h {
    font-family: "Rubik-Medium", sans-serif;
    font-size: 22px;
    margin-bottom: 30px;
}

.slide-content-item {
    margin-bottom: 20px;
    display: flex;
}

.slide-content-item:last-child {
    margin-bottom: 30px;
}

/* кружочек */
.slide-content-item span {
    width: 13px;
    height: 13px;
    background-color: #FAC663;
    border-radius: 50%;
    margin-right: 8px;
}

.slide-content-knopka {
    background-color: #FF7236;
    color: rgb(255, 255, 255);
}

.slide-content-knopka::after {
    content: "";
    position: absolute;

    width: 36px;
    height: 36px;

    /* центрирует по вертикали кнопку  */
    top: 50%;
    transform: translateY(-50%);

    right: 7px;
    background: url("../images/lapa_button2.svg") no-repeat center;
}